<!DOCTYPE html>
<html>
<head>
	<title>Service Factory</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/animate.min.css">
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  	
	<link rel="stylesheet" type="text/css" href="css/maquetacion.css">
	
</head>
<nav class="navbar navbar-default" id="navbar_ordenador">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#"><img class="logo" src="img/orange_logo.svg"></a>
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar_usu_id">
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>                        
			      </button>
			</div>    

		    <div class="collapse navbar-collapse" id="navbar_usu_id">
		      	<ul class="nav navbar-nav">
		      		<li class="dropdown lista-navbar">
				        <a href="index.html">
				          <p class="h3 titulo-index"> Service Factory </p><p class="subtitulo-index">Proyectos</p>
				        </a>
				    </li>
		        </ul>
		        <ul class="nav navbar-nav navbar-right lista-navbar ">
			      <li><a href="#"><span class="fa fa-power-off fa-lg"></span> Salir</a></li>
			    </ul>
		    </div>
	    </div>
	</nav>
	<div  id="div_botonanterior_ordenador">
    	<button class="boton-anterior" onclick="window.location.href='tareas.html'"><i class="fa fa-angle-left"></i></button>
    </div>
	<nav class="navbar navbar-default" id="navbar_movil" >
		<div class="container-fluid">
			<div class="navbar-header">
				
					<button class="boton-anterior" onclick="window.location.href='tareas.html'"><i class="fa fa-angle-left"></i></button>
				
				<a class="navbar-brand" href="#"><p class="h4">Orange</p><p class="h5">Service Factory</p></a>
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar_usuario_id">
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>                        
			      </button>
			</div>    
		    <div class="collapse navbar-collapse" id="navbar_usuario_id">
		      	
		        <ul class="nav navbar-nav navbar-right lista-navbar ">
			      <li><a href="#"><span class="fa fa-sign-out fa-lg"></span> Salir</a></li>
			    </ul>
		    </div>
	    </div>
	</nav>

  <div class="container-fluid container-horas">
    <div class="row">
	    <div class="col-md-4 col-md-offset-4 boton horas">
	    	<p class="h3">Proyecto Orange: </p><p class="h3"> Tarea 1</p>
	    </div>
    	<div class="col-md-4 col-md-offset-4 boton horas">
	    	<div class="form-group">
	    		<label class="control-label">Fecha:</label>
	    		<input type="text" id="datepicker" name="">
	    		<div class="horas" style="  ">
		    		<input class="form-control input-lg" id="inputlg" type="number"  value="3"><p style="margin: 10px 3px 0px 3px">:</p>
		    		<input class="form-control input-lg" id="inputlg" type="number"  value="30">
		    	</div>	
	    	</div>

	    </div>
	    <div class="col-md-4 col-md-offset-4 boton horas" >
	      <button class="registrar" id="boton_registrar">
	       <p> Registrar </p>
	      </button>
	    </div>
	</div>
   
  </div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="js/bootstrap-notify.min.js"></script>
<script src="js/maquetacion.js"></script>
</body>
</html>